<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SharedMemGUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <SharedMemGUI.Properties.Settings>
            <setting name="Execute1" serializeAs="String">
                <value>C:\Temp\codecompo\ThreadSample1.exe</value>
            </setting>
            <setting name="WorkingDir1" serializeAs="String">
                <value />
            </setting>
            <setting name="Execute2" serializeAs="String">
                <value>C:\Temp\codecompo\ThreadSample1.exe</value>
            </setting>
            <setting name="WorkingDir2" serializeAs="String">
                <value />
            </setting>
            <setting name="Params1" serializeAs="String">
                <value />
            </setting>
            <setting name="Params2" serializeAs="String">
                <value />
            </setting>
        </SharedMemGUI.Properties.Settings>
    </userSettings>
</configuration>